html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background: #303540;
}

canvas {
	margin: 0 auto;
	display: block;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.42);
	touch-action: none;
}